
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
        <ol>
          <li><a href="/docs">Electronic visa waiver</a></li>
        </ol>
      </div>
    </div>
  </div>

<div class="phase-banner">
  <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
  </p>
</div>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Download your electronic visa waiver
      </h1>

      <p>Your electronic visa waiver (EVW) is ready to download.</p>

      <div class="notice">
  <i class="icon icon-important">
    <span class="visually-hidden">Warning</span>
  </i>
  <strong class="bold-small">
    You must bring your EVW with you when you travel. Otherwise you will not be allowed to enter the UK.
  </strong>
</div>
<p></p>

      <p>You can print your EVW, or show the dowload on your mobile phone or tablet. </p>
      <p>
        <a class="button button-start" href="#" role="button">Download EVW     صحة المعلومات فيه. يجب أن </a>
      </p>




    </div>
  </div>
</main>

{% endblock %}
